<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="table-wrapper border rounded shadow-sm">
        <!-- Table Title Section -->
        <div class="table-title p-3 text-white">
          <div class="row">
            <div class="col-lg-6 d-flex justify-content-lg-start justify-content-center align-items-center">
              <h2 class="m-0">Course Schedules</h2>
            </div>
            <div class="col-lg-6 d-flex justify-content-lg-end justify-content-center align-items-center">
              <a class="btn btn-success d-flex align-items-center" data-bs-toggle="modal" 
                data-bs-target="#courseScheduleForm" (click)="editSchedule(false)">
                <i class="bi bi-plus-circle me-2"></i> <span>{{!isUpdate ? 'Add New Schedule' : 'Update Schedule'}}</span>
              </a>
            </div>
          </div>
        </div>

        <!-- Table Section -->
        <div class="table-responsive">
          <table class="table table-striped table-hover align-middle mb-0">
            <thead class="table-dark">
              <tr>
                <th>#</th>
                <th>Course</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Time</th>
                <th>Location</th>
                <th>Max Student</th>
                <th>Enroll Count</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-row animate__animated animate__fadeInUp"
                *ngFor="let schedule of schedules; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{schedule.courseResponse.courseName}}</td>
                <td>{{schedule.startDate | date}}</td>
                <td>{{schedule.endDate | date}}</td>
                <td>{{schedule.duration}} Days</td>
                <td>{{schedule.time}}</td>
                <td>{{schedule.location}}</td>
                <td>{{schedule.maxStudents}}</td>
                <td>{{schedule.enrollCount}}</td>
                <td [ngStyle]="{
                  color: schedule.scheduleStatus === 'Open' ? 'green' :
                  schedule.scheduleStatus === 'Closed' ? 'red' :
                  schedule.scheduleStatus === 'Completed' ? 'blue' : 'black'
                }">{{schedule.scheduleStatus}}</td>
                <td class="text-center">
                  <a  class="text-primary me-3" aria-label="Edit Student" (click)="patchData(schedule)" data-bs-toggle="modal" data-bs-target="#courseScheduleForm">
                    <i class="bi bi-pencil-square"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Pagination Section -->
        <div class="d-flex justify-content-between align-items-center px-3 py-2 bg-light border-top">
          <div class="hint-text">Showing <b>{{ currentLength }}</b> out of <b>{{ totalItems }}</b> entries</div>
          <ul class="pagination mb-0">
            <li class="page-item pointer" [class.disabled]="currentPage === 1">
              <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item pointer" *ngFor="let page of [].constructor(totalPages); let i = index"
              [class.active]="currentPage === i + 1">
              <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item pointer" [class.disabled]="currentPage === totalPages">
              <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MODEL -->
<div class="modal fade" id="courseScheduleForm" tabindex="-1" aria-labelledby="courseScheduleFormLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">

    <div class="modal-content bg-light text-dark rounded-4 border-0 shadow-lg">

      <!-- Modal Header -->
      <div class="modal-header border-0" style="
           background-color: #2c2f3a;
           color: #e5e5e5;
           box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
         ">
        <h4 class="modal-title fw-bold" id="courseScheduleFormLabel">{{isUpdate? 'Update Schedule' : 'Add Schedule'}}</h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="scheduleForm" (ngSubmit)="onSubmit()" class="row g-4">

          <!-- Course Selection -->
          <div class="col-md-6">
            <label for="course" class="form-label fw-bold text-dark">Course</label>
            <div class="input-group shadow-sm">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-book"></i>
              </span>
              <select formControlName="courseId" class="form-select border rounded-end-3">
                <option value="" selected disabled>Select a course</option>
                <ng-container *ngFor="let course of courses">
                  <option [value]="course.id">{{ course.name }}</option>
                </ng-container>
              </select>
            </div>
          </div>
          
          <!-- Time -->
          <div class="col-md-6">
            <label for="duration" class="form-label fw-bold text-dark">Time</label>
            <div class="input-group shadow-sm">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-clock"></i>
              </span>
              <input type="text" formControlName="time" class="form-control border rounded-end-3"
                placeholder="Enter duration" />
            </div>
          </div>
          
          <!-- Start Date -->
          <div class="col-md-6">
            <label for="startDate" class="form-label fw-bold text-dark">Start Date</label>
            <div class="input-group shadow-sm">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-calendar"></i>
              </span>
              <input type="text" formControlName="startDate" class="form-control border rounded-end-3" placeholder="Select Start Date" bsDatepicker [bsConfig]="{ isAnimated: true }" />
            </div>
          </div>

          <!-- End Date -->
          <div class="col-md-6">
            <label for="endDate" class="form-label fw-bold text-dark">End Date</label>
            <div class="input-group shadow-sm">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-calendar-check"></i>
              </span>
              <input type="text" formControlName="endDate" class="form-control border rounded-end-3" placeholder="Select End Date" bsDatepicker [bsConfig]="{ isAnimated: true }"/>
            </div>
          </div>


          <!-- Location -->
          <div class="col-md-6">
            <label for="location" class="form-label fw-bold text-dark">Location</label>
            <div class="input-group shadow-sm">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-geo-alt"></i>
              </span>
              <input type="text" formControlName="location" class="form-control border rounded-end-3"
                placeholder="Enter location" />
            </div>
          </div>

          <!-- Max Students -->
          <div class="col-md-6">
            <label for="maxStudents" class="form-label fw-bold text-dark">Max Students</label>
            <div class="input-group shadow-sm">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-people"></i>
              </span>
              <input type="number" formControlName="maxStudents" class="form-control border rounded-end-3"
                placeholder="Enter max students" />
            </div>
          </div>
          <!-- Schedule Status -->
          <div class="col-md-6">
            <label for="scheduleStatus" class="form-label fw-bold text-dark">Schedule Status</label>
            <div class="input-group shadow-sm">
              <span class="input-group-text bg-light border-0">
                <i class="bi bi-info-circle"></i>
              </span>
              <select formControlName="scheduleStatus" class="form-select border rounded-end-3">
                <option value="" selected disabled >Select status</option>
                <option value="1">Open</option>
                <option value="2">Closed</option>
                <option value="3">Completed</option>
              </select>
            </div>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer border-0 bg-light">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">
              Close
            </button>
            <button type="submit" [disabled]="scheduleForm.invalid" class="btn btn-dark px-4" data-bs-dismiss="modal">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>