<!-- Payment Progress -->
<h4 class="mt-4"><i class="bi bi-credit-card-2-front fs-3 text-warning"></i> Payment Progress</h4>


<div class="p-4 alert alert-secondary">
    <p class="fs-5 text-muted">
        Welcome to your <strong>Payment History</strong> section!  </p>
     
      <p class="fs-5 text-muted">
        If you need to review or verify any past payments for your records, simply refer to this section. Additionally, you can download invoices and payment receipts if needed for reimbursement or tax purposes.
      </p>
</div>

<!-- Table View -->
<div class="table-responsive mt-4">
    <table class="table table-striped table-hover align-middle mb-0 table-md">
        <thead >
            <tr>
                <th><i class="bi bi-hash"></i> No</th>
                <th> Course name</th>
                <th> Amount Paid</th>
                <th> Payment Date</th>
                <th> Payment Method</th>
                <th> Payment Type</th>
            </tr>
        </thead>
        <tbody *ngIf="Enrollments">

            <ng-container *ngFor="let item of Enrollments let i = index" >
                <!-- Installment Row -->
                <tr *ngIf="item.paymentStatus == payCheck">
                    <td>#{{i+1}}</td>
                    <td>{{item.courseScheduleResponse.courseResponse.courseName}}</td>
                    <td>{{item.courseScheduleResponse.courseResponse.courseFee}}</td>
                    <td>{{item.paymentResponse[item.paymentResponse.length-1].paymentDate}}</td>
                    <td>{{item.paymentResponse[item.paymentResponse.length-1].paymentMethod}}</td>
                    <td>{{item.paymentResponse[item.paymentResponse.length-1].paymentType}}</td>
                </tr>
            </ng-container>

        </tbody>
    </table>
</div>