<div class="container">
  <div class="table-title d-flex justify-content-between align-items-center">
    <div>
      Audit Log
    </div>
    <div>
      <label for="actionDateFilter" class="me-2">Filter by Action Date:</label>
      <input id="actionDateFilter" type="text" class="form-control text-center" style="display: inline-block; width: auto;" placeholder="Enter the Date" [(ngModel)]="filterDate" bsDatepicker [bsConfig]="{ isAnimated: true }"/>
    </div>
  </div>
  <div class="table-wrapper">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Action</th>
          <th>Action Date</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of auditLog | searchAuditLogs:filterDate; let i = index">
          <td data-label="#">{{i+1}}</td>
          <td data-label="Name">{{item.adminResponse.firstName}} {{item.adminResponse.lastName}}</td>
          <td data-label="Phone">{{item.adminResponse.phone}}</td>
          <td data-label="Action">{{item.action}}</td>
          <td data-label="Action Date">{{item.actionDate | date}}</td>
          <td data-label="Details">{{item.details}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>