.hero-section {
  background-image: url('/About/student.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(31, 30, 30, 0.5);
}

.container-fluid.call-to-action {
  background: url('/About/building1.jpg') no-repeat center center/cover;
  padding: 100px 0;
  position: relative;
}

.container-fluid.call-to-action::before {
  content: '';
  background: rgba(31, 30, 30, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container-fluid.call-to-action .btn-outline-light {
  border-width: 2px;
}

.team-card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.counter {
  font-size: 2.5rem;
  font-weight: bold;
  color: #0b0c0e;
}


.branch-card {
  position: relative;
  overflow: hidden;
}

.branch-card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.branch-card:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.branch-card:hover .overlay {
  opacity: 1;
}

.overlay span {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}



.card img {
  max-height: 200px;
  object-fit: cover;
}

.card-title {
  color: #686b6e;
  font-weight: bold;
}