.hometag {
    text-decoration: none;
    color: white;
}

.hometag:hover {
    text-decoration: underline;
}

.headCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(/course/courseHeader1.jpg);

    background-position: center 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.fsSize {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media only screen and (max-width: 600px) {
    .fsSize {
        font-size: 40px;
    }

   
}