<div class="container my-5">
  <div *ngIf="StudentDetails.length > 0">
    <h4 >Completed Courses</h4>
    <hr>
  </div>
    <div class="row" *ngIf="StudentDetails">
        <div class="col-md-4 my-4" *ngFor="let item of StudentDetails let i = index">
            <div class="card shadow-sm border-0 rounded">
                <img src="{{item.courseScheduleResponse.courseResponse.imageUrl}}" class="card-img-top" alt="Course image">

                <div class="card-header bg-dark  text-light text-center" [ngClass]="getProgressBarClass(item)">
                    <h5><i class="bi bi-bookmark-check pe-2"></i>{{item.courseScheduleResponse.courseResponse.courseName}}
                    </h5>
                </div>

                <div class="card-body">
                    <p><strong><i class="bi bi-calendar pe-2"></i>Start Date:</strong>
                        {{item.courseScheduleResponse.startDate}}</p>
                    <p><strong><i class="bi bi-clock pe-2"></i>Start Time:</strong> {{item.courseScheduleResponse.time}}
                    </p>
                    <p><strong><i class="bi bi-graph-up pe-2"></i>Progress:</strong> <span class="text-dark">In
                            Process</span></p>

                    <div class="progress mb-3" style="height: 10px;">
                        <div class="progress-bar bg-info" [style.width]="getProgress(item) + '%'" role="progressbar"
                            [attr.aria-valuenow]="getProgress(item)" aria-valuemin="0" aria-valuemax="100">
                            {{ getProgress(item) | number: '1.0-0' }}%
                        </div>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <button class="btn btn-sm btn-success border-0 p-0 py-2 px-4">
                        Download Certficate
                    </button>
                </div>
            </div>


        </div>

        <h4>

            <div id="notfound" *ngIf="StudentDetails.length == 0">
                <div class="notfound">
                    <div>
                      <img src="/Gif/404.gif" alt="" class="img-fluid">
                    </div>
                    <h2>We are sorry, but you need to complete the course to access this page</h2>
                </div>
            </div>
        </h4>
    </div>
</div>