<div class="wrapper">
    <!-- Sidebar -->
    <aside id="sidebar" [ngClass]="{'collapsed': sidebarCollapsed}" class="bg-dark text-light js-sidebar shadow-lg">
      <div class="h-100 " style="position: fixed; width: 250px;">
        <div class="sidebar-logo d-flex justify-content-center">
          <a>Way Makers</a>
        </div>
        <ul class="sidebar-nav">
          
          <!-- Home Link -->
          <li class="sidebar-item">
            <a [routerLink]="['/admin-dashboard/home']" class="sidebar-link" routerLinkActive="active" class="sidebar-link" >
              <i class="fa-solid fa-home pe-2"></i>
              Home
            </a>
          </li>
  
          <!-- Admin Section -->
          <li class="sidebar-item" *appHasRole="'Administrator'">
            <a class="sidebar-link collapsed" data-bs-target="#pages" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fa-regular fa-circle-user pe-2"></i>
              Admin
            </a>
            <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/admin-list']" routerLinkActive="active">
                <a class="sidebar-link">Admin List</a>
              </li>
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/audit-log']" routerLinkActive="active">
                <a class="sidebar-link">Audit Logs</a>
              </li>
            </ul>
          </li>
  
          <!-- Student Section -->
          <li class="sidebar-item">
            <a class="sidebar-link collapsed" data-bs-target="#posts" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fa-regular fa-user pe-2"></i>
              Student
            </a>
            <ul id="posts" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/student-list']" routerLinkActive="active">
                <a class="sidebar-link">Student List</a>
              </li>
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/student-assessments']" routerLinkActive="active">
                <a class="sidebar-link">Student Assessments</a>
              </li>
            </ul>
          </li>
  
          <!-- Course Section -->
          <li class="sidebar-item">
            <a class="sidebar-link collapsed" data-bs-target="#auth" data-bs-toggle="collapse" aria-expanded="false">
              <i class="fa-solid fa-book pe-2"></i>
              Course
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/course-list']" routerLinkActive="active">
                <a class="sidebar-link">Course List</a>
              </li>
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/schedule-list']" routerLinkActive="active">
                <a class="sidebar-link">Schedule</a>
              </li>
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/assessment-list']" routerLinkActive="active">
                <a class="sidebar-link">Assessment</a>
              </li>
              <li class="sidebar-item" [routerLink]="['/admin-dashboard/course-feedbacks']" routerLinkActive="active">
                <a class="sidebar-link">Feedback</a>
              </li>              
            </ul>
          </li>

          <li class="sidebar-item" *appHasRole="'Administrator'">
            <a [routerLink]="['/admin-dashboard/payment-overview']" class="sidebar-link"  routerLinkActive="active">
              <i class="fa-solid fa-wallet pe-2"></i>
              Payment Overview
            </a>
          </li>          

          <li class="sidebar-item" *appHasRole="'Administrator'">
            <a [routerLink]="['/admin-dashboard/announcement']" class="sidebar-link" routerLinkActive="active">
              <i class="fa-solid fa-bullhorn pe-2"></i>
              Announcements
            </a>
          </li>

          <li class="sidebar-item" *appHasRole="'Administrator'">
            <a [routerLink]="['/admin-dashboard/contact-us']" class="sidebar-link" routerLinkActive="active">
              <i class="fa-solid fa-envelope pe-2"></i>
              Contact Us Messages
            </a>
          </li>
          
        </ul>
        <hr>
        <div class="mt-3 ms-3 d-flex align-items-center" *ngIf="adminData">
          <ul class="navbar-nav pe-3">
            <li class="pe-md-0">
                <img [src]="adminData.imageUrl != null ? adminData.imageUrl : 'profile.jpg'" class="avatar img-fluid rounded-5" alt="Profile Pic" style="width:50px; height: 50px; background-position: center; background-size: cover; object-fit: cover;">
            </li>
          </ul>
          <div>
            <h5 class="p-0 m-0">{{adminData.firstName}} {{adminData.lastName}}</h5>
            <p class="p-0 m-0">{{adminData.email}}</p>
          </div>
        </div>
        <div class="sidebar-footer text-center text-light mt-5 float-bottom">
          <p class="mb-0">IT Institute CMS</p>
          <small>Version 1.0.0</small>
        </div>
      </div>
    </aside>
  
    <!-- Main Content Area -->
    <div class="main">
      <!-- Navbar -->
      <nav class="navbar navbar-expand px-3 border-bottom">
        <div class="navbar-collapse navbar">
          <!-- Sidebar Toggle Button -->
          <button class="btn" id="sidebar-toggle" type="button" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="d-flex gap-5 align-items-center">
            <!-- Announcement Button with Dropdown -->
            <div class="dropdown">
              <!-- Button Trigger -->
              <button class="btn btn-sm btn-outline-dark position-relative OverideBtn dropdown-toggle" type="button" id="announcementDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-envelope nav-icon"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  {{ totalAnnouncements }}
                </span>
              </button>

              <!-- Dropdown Menu -->
              <ul class="dropdown-menu dropdown-menu-end shadow-sm" aria-labelledby="announcementDropdown" style="min-width: 300px;">
                <!-- No Announcements -->
                <li *ngIf="announcements.length === 0" class="dropdown-item text-muted text-center">
                  No new announcements.
                </li>

                <!-- Announcement Items -->
                <li *ngFor="let announcement of announcements; let i = index" class="dropdown-item d-flex align-items-start">
                  <div class="pointer">
                    <p class="mb-1 fw-bold">{{ announcement.title }}</p>
                    <p class="mb-0 text-muted small">{{ announcement.datePosted |date }}</p>
                  </div>
                </li>

                <!-- View All Link -->
                <li *ngIf="announcements.length > 0">
                  <hr class="dropdown-divider">
                </li>
                <li *ngIf="announcements.length > 0">
                  <a 
                    [routerLink]="['/admin-dashboard/all-announcement','Admin']" 
                    class="dropdown-item text-center text-primary fw-semibold">
                    View All Announcements
                  </a>
                </li>
              </ul>
            </div>


            <!-- Profile Dropdown -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                  <img src="profile.jpg" class="avatar img-fluid rounded" alt="User Profile">
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" [routerLink]="['/admin-dashboard/admin-profile']">Profile</a>
                  <a class="dropdown-item" [routerLink]="['/admin-dashboard/account-settings']">Settings</a>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </li>
            </ul>
          </div>
          
        </div>
      </nav>
  
      <!-- Main Content Area for Admin Dashboard -->
      <main class="content px-3 py-2">
        <router-outlet></router-outlet>
      </main>
  
      <!-- Footer -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-muted">
            <div class="col-6 text-start">
              <p class="mb-3">
                <a class="text-muted">
                  <strong>Way Makers</strong>
                </a>
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  