<form class="shadow-sm rounded p-4 bg-white mx-auto" [formGroup]="StudentRegistration" (ngSubmit)="onSubmit()">
    <div class="px-2">
        <div class="mb-4">
            <!-- Logo Section -->
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div class="d-flex align-items-center gap-3">
                    <img src="/logo.png" alt="Logo" height="60" class="logo-animation">
                    <h3 class="m-0 text-dark"><span class="text-warning">W</span>ay <span class="text-warning">M</span>akers</h3>
                </div>
                <div>
                    <a [routerLink]="['/Way/home']"
                        class="text-decoration-none text-secondary d-flex align-items-center">
                        <i class="bi bi-arrow-left"></i>
                        <span class="ms-2">Back to Home</span>
                    </a>
                </div>
            </div>
            <!-- Welcome Message -->
            <div class="text-center fade-in">
                <h4 class="fw-bold mb-2 text-dark">Registration</h4>
                <p class="text-muted small">Sign in to access your courses, manage your profile, and
                    stay updated.</p>
            </div>
        </div>
        <div class="row mt-1">
            <div class="form-group">
                <input type="text" class="form-control px-2" placeholder="" style="width: 100%;" formControlName="nic">
                <label for="">NIC</label>
                <div *ngIf="StudentRegistration.controls['nic'].touched">
                    <p class="text-danger" *ngIf="StudentRegistration.controls['nic']?.errors?.['required']">NIC is
                        required.</p>
                    <p class="text-danger" *ngIf="StudentRegistration.controls['nic']?.errors?.['pattern']">Invalid NIC
                        format.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 gap">
                <div class="form-group">
                    <input type="text" class="form-control px-2" placeholder="" style="width: 100%;"
                        formControlName="firstName">
                    <label for="">FirstName</label>
                    <div *ngIf="StudentRegistration.controls['firstName'].touched">
                        <p class="text-danger" *ngIf="StudentRegistration.controls['firstName']?.errors?.['required']">
                            First Name is required.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 ">
                <div class="form-group">
                    <input type="text" class="form-control px-2" placeholder="" style="width: 100%;"
                        formControlName="lastName">
                    <label for="">LastName</label>
                    <div *ngIf="StudentRegistration.controls['lastName'].touched">
                        <p class="text-danger" *ngIf="StudentRegistration.controls['lastName']?.errors?.['required']">
                            Last Name is required.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="form-group">
                <input type="email" class="form-control px-2" placeholder="" style="width: 100%;"
                    formControlName="email">
                <label for="">Email</label>
                <div *ngIf="StudentRegistration.controls['email'].touched">
                    <p class="text-danger" *ngIf="StudentRegistration.controls['email']?.errors?.['required']">Email is
                        required.</p>
                    <p class="text-danger" *ngIf="StudentRegistration.controls['email']?.errors?.['email']">Email is not
                        valid format.</p>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-lg-6 gap">
                <div class="form-group">
                    <input type="password" class="form-control px-2" placeholder="" style="width: 100%;"
                        formControlName="password">
                    <label for="">Password</label>
                    <div *ngIf="StudentRegistration.get('password')?.errors?.['passwordInvalid']">
                        <small class="text-danger">{{
                            StudentRegistration.get('password')?.errors?.['passwordInvalid'].message }}</small>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="form-group">
                    <input type="password" class="form-control px-2" placeholder="" style="width: 100%;"
                        formControlName="confirmPassword">
                    <label for="">Confirm Password</label>
                    <div *ngIf="StudentRegistration.controls['confirmPassword'].touched">
                        <p class="text-danger"
                            *ngIf="StudentRegistration.controls['confirmPassword']?.errors?.['required']">Confirm
                            Password is required.</p>
                        <p class="text-danger"
                            *ngIf="StudentRegistration.controls['confirmPassword'].value !== StudentRegistration.controls['password'].value">
                            Passwords do not match.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 gap">
                <div class="form-group">
                    <input type="text" class="form-control px-2" placeholder="" style="width: 100%;"
                        formControlName="dateOfBirth" bsDatepicker  placement="top" >
                    <label for="">DateOfBirth</label>
                    <div *ngIf="StudentRegistration.controls['dateOfBirth'].touched">
                        <p class="text-danger"
                            *ngIf="StudentRegistration.controls['dateOfBirth']?.errors?.['required']">Date of Birth is
                            required.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <select name="gender" id="gender" class="form-control px-2" formControlName="gender">
                        <option value="" disabled selected>Select your gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Other</option>
                    </select>
                    <div *ngIf="StudentRegistration.controls['gender'].touched">
                        <p class="text-danger" *ngIf="StudentRegistration.controls['gender']?.errors?.['required']">
                            Please select your gender.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <div class="form-group">
                <input type="text" class="form-control px-2" placeholder="" style="width: 100%;"
                    formControlName="phone">
                <label for="">ContactNumber</label>
                <div *ngIf="StudentRegistration.controls['phone'].touched">
                    <p class="text-danger" *ngIf="StudentRegistration.controls['phone']?.errors?.['required']">Contact
                        Number is required.</p>
                </div>
            </div>
        </div>

        <div class="row mt-1">
            <button type="submit" class="btn btn-lg btn-danger mt-1 p-1" style="border-radius: 5px; width: 100%;"
                [disabled]="StudentRegistration.invalid">Your
                Future Begins Here</button>
            <div class="d-flex justify-content-center mt-2">
                <p class="ps-2 mb-lg-0 mb-md-5 mb-sm-5 mb-5 pe-1">If you already have an account?</p>
                <a [routerLink]="['/signin']">sign in here!</a>
            </div>
        </div>
    </div>
</form>