<div class="container py-5">
    <div *ngIf="isFilterVisible" class="filter-options bg-light rounded shadow-sm p-4">
        <h4 class="mb-4 text-danger fw-bold text-uppercase">Filter Your Future</h4>
        <div class="row g-4">
            <!-- Added Filter -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="AddedFilter" class="form-label fw-semibold text-muted">CategoryFilter:</label>
                <select id="CategoryFilter" class="form-select" *ngIf="categories">
                    <option value="" selected>Allcategories</option>
                    <option value="{{items.id}}" *ngFor="let items of categories">{{items.categoryName}}</option>
                </select>
            </div>
            <!-- Level Filter -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="CourseLevel" class="form-label fw-semibold text-muted">Level:</label>
                <select id="CourseLevel" class="form-select">
                    <option value="" selected>All Levels</option>
                    <option value="0">Beginner</option>
                    <option value="1">Intermediate</option>
                    <option value="2">Advanced</option>
                </select>
            </div>
            <!-- Price Filter -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <label for="Price" class="form-label fw-semibold text-muted">Price:</label>
                <select id="Price" class="form-select">
                    <option selected>All Prices</option>
                    <option value="0">10000-20000</option>
                    <option value="1">20000-30000</option>
                    <option value="2">30000-40000</option>
                    <option value="3">40000-50000</option>
                </select>
            </div>
        </div>
        <!-- Apply Filter Button -->
        <div class="mt-4">
            <button class="btn btn-primary btn-md px-4 shadow-sm" (click)="applyFilter()">
                APPLY FILTER
            </button>
        </div>
    </div>
</div>




<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="headingCourses">COURSES</h2>

        <button class="btn btn-primary btn-md" (click)="toggleFilter()"><i class="bi bi-funnel"></i> FILTER
            COURSES</button>
    </div>
    <hr>


    <div class="row py-4" *ngIf="paginateCourses != null">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-4"
            *ngFor="let course of paginatedCourses  | courseFilter:filterlevel : filterPrice : filterCategory let i =index">
            <div class="card border-0  rounded-2 course-card">
                <div class="position-relative">
                    <!-- Badge for Level -->
                    <div class="badge-level" [ngClass]="getStyles(course)">
                        <span>{{ course.level }}</span>
                    </div>
                    <!-- Course Image -->
                    <img src="{{course.imageUrl}}" class="card-img-top" alt="Course Image">
                </div>
                <div class="card-body">
                    <!-- Course Title -->
                    <h5 class="card-title mb-2 text-dark fw-bold">{{ course.courseName }}</h5>
                    <!--rating-->
                    <div class=" pb-2">
                        <i class="bi bi-star-fill text-warning" *ngFor="let i of [].constructor(course.feedBackRate)"></i>
                    </div>
                    <!-- Price -->
                    <p class="card-text text-danger fw-semibold">Rs {{ course.courseFee }}</p>
                    <!-- Enroll & View More -->
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <button class="btn btn-primary btn-enroll" 
                            (mouseenter)="changeNameEnter($event)" 
                            (click)="ViewSechduleRouting(course.id)">{{EnrollBtnName}}</button>
                        <a href="#" class="text-decoration-none view-more" data-bs-toggle="modal"
                            data-bs-target="#CourseView" (mouseenter)="viewProduct(course)">View More</a>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item pointer" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
            </li>
            <li class="page-item pointer" *ngFor="let page of [].constructor(totalPages); let i = index"
                [class.active]="currentPage === i + 1">
                <a class="page-link" (click)="goToPage(i + 1)">{{ i + 1 }}</a>
            </li>
            <li class="page-item pointer" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
            </li>
        </ul>
    </nav>



    <!-- Modal -->
    <div class="modal fade" id="CourseView" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div *ngIf="ModalProduct.length>0">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-danger" id="staticBackdropLabel">Course Description</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            (click)="ClearModal()"></button>
                    </div>
                    <div class="modal-body overflow-x-hidden">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <img src="{{ModalProduct[0].imageUrl}}" alt="" class="modalImg" width="100%">
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12  pt-lg-0 pt-md-2 pt-sm-2 pt-2">
                                <!-- Course Title -->
                                <h5 class="card-title mb-2 text-dark fw-bold ">{{ ModalProduct[0].courseName }}</h5>
                                <!--rating-->
                                <div class=" pb-2">
                                    <i class="bi bi-star-fill text-warning" *ngFor="let i of [].constructor(ModalProduct[0].feedBackRate)"></i>
                                </div>

                                <!-- Price -->
                                <p class="card-text text-primary fw-semibold">Rs {{ ModalProduct[0].courseFee }}</p>

                                <!-- description -->
                                <div>
                                    <p>{{ModalProduct[0].description}}</p>
                                </div>
                                <button class="btn btn-primary btn-enroll" (mouseenter)="changeNameEnter($event)"
                                    (mouseleave)="changeNameMouseleave($event)"  (click)="ViewSechduleRouting(ModalProduct[0].id)" data-bs-dismiss="modal">{{EnrollBtnName}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    